body {
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrap-all {
  border: 3px solid;
  height: auto;
  padding: 1rem 0;
}

.navi-menu {
  width: 95%;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightgray;
  border: 3px solid;
  margin: auto;
}

.nav-list {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav-list li {
  list-style: none;
  color: blue;
  cursor: pointer;
}

.giver {
  border-right: 2px solid black;
  height: 1.5rem;
}

.contact ul li {
  text-align: left;
}

.nav-list li:hover {
  color: aqua;
}

.calendar {
  display: flex;
  justify-content: flex-end;
  width: 98%;
}

h2 {
  width: 60%;
  padding-left: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.wrapper {
  width: 100%;
  text-align: center;
}

.p-1 {
  margin-top: 8px;
  font-weight: 100;
  margin-right: 70%;
}

.booksAdded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
  width: 40%;
  border: 1px solid black;
  margin-left: 30%;
}

.booksAdded:nth-of-type(odd) {
  background-color: #d3d3d3;
  height: 3rem;
}

.booksAdded:nth-of-type(even) {
  background-color: #fff;
  height: 3rem;
}

hr {
  margin-right: 70%;
}

.form {
  width: 60%;
  margin-left: 40%;
}

form input {
  display: block;
  margin: 10px 0 5px 7%;
  font-weight: 200;
  border-radius: 4px;
}

.form button {
  font-weight: 200;
  margin: 5px 0 0 167px;
  display: block;
  text-align: center;
  border-radius: 4px;
}

.contact-section {
  display: none;
}

#contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  border: 2px solid black;
  background-color: #fff;
  padding: 0.5rem 1rem;
  width: 100%;
}

.contact {
  width: 50%;
  margin: auto;
}

.contact p {
  text-align: left;
}

.rights {
  width: 90%;
  border: 2px solid;
  margin: 3rem auto 0;
  text-align: left;
  padding-left: 1rem;
}
