body {
  padding: 4px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  margin-left: 30%;
}

.p-1 {
  margin: 0;
  font-weight: 200;
}

.removeBtn {
  font-weight: 200;
  text-align: center;
  border-radius: 4px;
}

hr {
  margin-right: 70%;
}

.form {
  width: 60%;
}

form input {
  display: block;
  margin: 10px 0 5px 0;
  font-weight: 200;
  border-radius: 4px;
}

.form button {
  font-weight: 200;
  margin-top: 5px;
  display: block;
  text-align: center;
  border-radius: 4px;
}
